body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

article {
    display: flex; 
    flex-direction: row;
}

section {
    padding: 40px;
}

li {
    padding: 8px; 
    border-radius: 3px;
}

